{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="hero-container" class="hero-image">
                <img id="hero" src="{% static 'logo_image/burger-hero1.jpg' %}" class="img-fluid " alt="tasty looking burger">
            </div>
        </div>
        <div class="col-md-7 pt-4 bg-light border border-secondary">
            <div id="welcome">
                <h2>Welcome to Jimbo's Burgers</h2>
            </div>
            <p>
                Opened in 2008, Jimbo's burgers has served to please ever since!
            </p>
            <p>If you're looking for a quick bite, a place to do some work or even
                celebrate an event Jimbo's Burgers can fill the hole you've needed your entire life.
            </p>
            <p>We source the freshest ingredients from farm to table and ensure all of our meat is free range.</p>
        </div>
        <div class="col-md-5 pt-4 bg-light border border-secondary text-center">
            <table class="mx-auto">
                <tr>
                    <th>Sunday</th>
                    <td> - </td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <th>Monday</th>
                    <td> - </td>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Tuesday</th>
                    <td> - </td>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Wednesday</th>
                    <td> - </td>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Thursday</th>
                    <td> - </td>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Friday</th>
                    <td> | </td>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Saturday</th>
                    <td> | </td>
                    <td>9am - 6pm</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}