{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-container">
    <img id="hero" src="{% static 'logo_image/burger-hero1.jpg' %}" class="img-fluid justify-content-center" alt="tasty looking burger">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="welcome">
                <h2>Welcome to Jimbo's Burgers</h2>
            </div>
            <p>
                Opened in 2008, Jimbo's burgers has served to please ever since!
            </p>
            <p>If you're looking for a quick bite, a place to do some work or even
                celebrate an event Jimbo's Burgers can fill the hole you've needed your entire life.
            </p>
            <p>We source the freshest ingredients from farm to table and ensure all of our meat is free range.</p>
        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <th>Sunday | </th>
                    <td>Closed</td>
                </tr>
                <tr>
                    <th>Monday | </th>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Tuesday | </th>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Wednesday | </th>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Thursday | </th>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Friday | </th>
                    <td>9am - 6pm</td>
                </tr>
                <tr>
                    <th>Saturday | </th>
                    <td>9am - 6pm</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}