{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="container pb-3">
    <h1 class="text-center my-4">Menu</h1>
    <h5 class="text-center">(All burgers are served with your choice of fries or salad.)</h5>
    
    <div class="row border">
        {% for burger in burgers %}
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>{{ burgers.burger_name }}</h3>
                <p>{{ burgers.description }}</p>
                <p>{{ burgers.price }}</p>
            </div>
        </div>
        {% endfor %}        
        <h5 class="text-center">(Upgrade your fries to dirty fries for an extra £2!)</h5>
    </div>
</div>
<div class="container pb-3">
    <div class="row border">
        <div class="col-md-4 text-center">
            <h5 class="">Sides</h5>
            <table >
                <tr>
                    <td colspan="2">
                        Fries .....................
                    </td>
                    <td>
                        £2.50
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>


{% endblock content %}
