{% extends 'base.html' %} {% load static %} 
{% block content %}



<div class="container pb-3">
    <h1 class="text-center my-4">Menu</h1>
    <h5 class="text-center">(All burgers are served with your choice of fries or salad.)</h5>
    
    <div class="row border">
        
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Classic</h3>
                <p>
                    A flame grilled 6oz Angus beef patty, monterey jack cheese,
                    lettuce, tomato and cool mayonnaise.
                    
                </p>
                <p>£8.99</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Crazy Colonel</h3>
                <p>
                    A buttermilk chicken breast, onion rings, lettuce
                    and tomato, drizzled with gravy.
                </p>
                <p>£10.99</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The New-Yorker</h3>
                <p>
                    A Grilled chicken breast, maple-glazed bacon, monterey jack cheese and lettuce, smothered in our house BBQ sauce.
                </p>
                <p>£11.99</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Joker's Pistol</h3>
                <p>
                    2 6oz Angus beef patties, maple-glazed bacon, monterey cheese, 
                    all the greens and a joker smile dashing of tomato sauce. </p>
                <p>£14.99</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Classic Snr.</h3>
                <p>
                    Our classic beef burger, with DOUBLE the meat, yes that's 2 angus 6oz patties,
                    maple-glazed bacon, lettuce, tomato and cool mayo.

                </p>
                <p>£14.99</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Abomination</h3>
                <p>A 6oz patty, a grilled chicken breast, maple-glazed bacon, onion rings,
                    monterey jack cheese, lettuce and tomato. Then painted with BBQ and cool mayo.
                </p>
                <p>Price</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Naked Man</h3>
                <p>
                    2 Angus beef patties, lettuce, tomato and your choice of sauce, 
                    hold the bun!
                </p>
                <p>£10.99</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Not'chour Cheeze</h3>
                <p>
                    A grilled chicken breast, jalapenos, chilli heatwave doritos, pepperjack cheese,
                    gherkin, sriracha sauce on a brioche bun.
                </p>
                <p>£13.99</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Sloppy Jimbo</h3>
                <p>
                    2 smashed beef patties, red onion, tomato, lathered in Jimbo's sloppy house sauce,
                    on a toasted sesame seed bun.
                </p>
                <p>Price</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="burger-list">
                <h3>The Vee Gerger</h3>
                <p>
                    A plant based seitan patty, red onion, tomato, lettuce, vegan cheeze,
                    with vegan-GF mayonnaise.

                </p>
                <p>£9.99</p>
            </div>
        </div>
        <h5 class="text-center">(Upgrade your fries to dirty fries for an extra £2!)</h5>
    </div>
</div>
<div class="container pb-3">
    <div class="row border">
        <div class="col-md-4 text-center">
            <h5 class="">Sides</h5>
            <table >
                <tr>
                    <td colspan="2">
                        Fries .....................
                    </td>
                    <td>
                        £2.50
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>


{%endblock%}
