body {
    background-color: #ffffff;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}



/* My CSS */


.hero-image {
    width: 100%;
    margin-top: 97px;
    margin-bottom: 50px;
    
}

#hero {
    width: 100%;
    background-size: fixed;
    background-attachment: scroll;

}

h1,h2 {
    color: red;
}


#hero-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
}

#book-button-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#book-button-hero button {
    /* Add styling for your button */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
}