{% extends 'home/base.html' %} {% load static %} {% block content %}


    


<div class="container-fluid">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-4 bg-black">
      <h3>The Jimbo</h3>
      <p>The classic. 2 seared beef patties, monterey jack cheese, bacon, lett</p>
    </div>
    <div class="col-md-4 bg-black"></div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>

{%endblock%}
