{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 border"><h2>Menu</h2></div> 
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-4">
            <h3></h3>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div>

{%endblock%}
