{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-secondary">
        <h2>Create a New Booking</h2>
            <form action="{% url 'booking_add' %}" method="post">
                {% csrf_token %}

                
                {{ form.customer_name.label_tag }}<br>
                {{ form.customer_name }}<br><br>

                {{ form.booking_date.label_tag }}<br>
                {{ form.booking_date }}<br><br>

                {{ form.party_size.label_tag }}<br>
                {{ form.party_size }}<br><br>

                {{ form.booking_time.label_tag }}<br>
                {{ form.booking_time }}<br><br>

                {{ form.booking_notes.label_tag }}<br>
                {{ form.booking_notes }}<br><br>
                <input type="submit" value="Submit">
            </form>
        </div>    
    </div>
</div>
{% endblock content%}
</body>
</html>


