{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center bg-light border border-lg">
                <h2 class="mt5 mb-4"> Create a booking</h2>
                <form method="post" class="mt-5" onsubmit="return checkDate()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.date.id_for_label }}">Date:</label>
                        {{ form.date }}
                    </div><br>

                    <div class="form-group">
                        <label for="{{ form.time.id_for_label }}">Time:</label>
                        {{ form.time }}
                    </div><br>

                    <div class="form-group">
                        <label for="{{ form.num.guests.id_for_label }}">Number of Guests:</label>
                        {{ form.num_guests }}
                    </div><br>

                    <div class="form-group">
                        <label for="{{ form.notes.id_for_label }}">Notes:</label>
                        {{ form.notes }}
                    </div><br>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <script>
        function checkDate() {
            var selectedDate = document.getElementById('id_date').value;
            var selectedTime = document.getElementById('id_time').value;
            var selectedDateTime = new Date(selectedDate + ' ' + selectedTime);
            var now = new Date();

            if (selectedDateTime < now) {
            alert("Date and time must be in the future");
            return false;  // Prevent form submission
        }

        return true;  // Allow form submission
}
     </script>

{% endblock%}



