{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container">
    <h1 class="mt-4 md-4 text-center">My Bookings</h1>
    {% if bookings %}
        <div class="row">
            {% for booking in bookings %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Booking Info</h5>
                        <p class="card-text">
                            <strong>Name:        </strong>{{ booking.customer }}<br>
                            <strong>People:      </strong>{{ booking.num_guests }}<br>
                            <strong>Date:        </strong>{{ booking.date }}<br>
                            <strong>Time:        </strong>{{ booking.get_time_display }}<br>
                            <strong>Time:        </strong>{{ booking.get_time_display }}<br>
                            

                        </p>
                        <a href="{% url 'booking_edit' booking.id %}" class="btn btn-primary">Edit</a>
                        <form action="{% url 'booking_defensive' booking.id %}" method="get" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">You have no current bookings. <a href="{% url 'booking_add' %}"> Add a booking</a></p>
    {% endif %}
</div>

{% endblock %}
